html{
    height:100vh;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: OpenSans;
}

.klaseDiv1 {
    background-color: rgb(157, 220, 236);
    text-align: center;
    border-bottom: 5px solid black;
    padding: 10px 10px 25px 25px;
}

.klaseDiv1>h1 {
    margin: 0px;
    text-transform: uppercase;
}

.header>h4 {
    margin: 0px;
    padding-top: 10px 10px 20px 10px;
}

.image-container {
    display:block;
    height: 80vh;
    padding: 80px 50px;
}

.image-container>img {
    width: 100%;
}